<hr />
<div class="container">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <i class="fa-brands fa-5x fa-github"></i>
        <div class="card-title">Proje Github Link</div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <a
          href="https://www.linkedin.com/in/%C3%B6zg%C3%BCr-m-793965205/"
          target="_blank"
        >
          <i class="fa-brands fa-5x fa-linkedin"></i>
        </a>
        <div class="card-title">Linkedin</div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <a
          href="https://ozgurmsll.netlify.app/"
          target="_blank"
        >
        <i class="fa-solid fa-5x fa-blog"></i>
        </a>
        <div class="card-title">Web</div>
      </div>
    </div>
  </div>
</div>
