



<div class="container">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">

        <div class="resim">

        </div>
      </div>


      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <div class="alert alert-danger" *ngIf="error">
              {{ error }}
          </div>
            <form #form="ngForm" (ngSubmit)="handleAuth(form)">


              <div class="form-outline mb-4">
                <input type="email" required email ngModel name="email" id="email" class="form-control" />
                <label class="form-label"  for="email" >Email address</label>
              </div>

              <div class="form-outline mb-4">
                <input required minlength="6" ngModel name="password" id="password" class="form-control" />
                <label class="form-label" for="password">Password</label>
              </div>

              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                <label class="form-check-label" for="form2Example33">
                 Beni Hatırla
                </label>
              </div>


              <button (click)="login()" type="submit" class="btn btn-primary" [disabled]="form.invalid" routerLink="/">Giriş Yap</button>
              <button  class="btn btn-primary kayıtol" type="submit"  routerLink="/register">Kayıt Ol</button>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

