
<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ödeme Ekranı</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Kart Sahibi Ad ve Soyad</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Kart Sahibi Ad ve Soyad">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Kart Numarası</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="**** **** **** ****">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Son Kullanma Tarihi</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ay/yıl">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">CCV</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="***">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Adres</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Toplam Ödenecek Tutar</label>
          <h3 class="text-danger">{{ total | currency: 'TRY': 'symbol-narrow': '1.2-2' }}</h3>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="paymentModalCloseBtn">Kapat</button>
        <button type="button" class="btn btn-success" (click)="payment()">Ödeme Yap</button>
      </div>
    </div>
  </div>
</div>
