<div class="footer">
  <div class="footer-left col-md-4 col-sm-6">
    <p class="about">
      <span> Hakkımızda</span>

      
        Yılların verdiği tecrübeyle sizlere en iyi hizmeti sunmak için çalışıyoruz.


    </p>
  </div>
  <div class="footer-right col-md-4 col-sm-6">
    <p class="menu">
      <a routerLink="/"> Ana Sayfa</a> | <a routerLink="/about"> Hakkımda</a> |

      <a routerLink="/contact"> İletişim</a>
    </p>
    <p class="name">Company Name &copy;2022 </p>
  </div>
  <div class="footer-center col-md-4 col-sm-6">
    <div>
      <i class="fa fa-map-marker"></i>
      <p>Samsun, Atakum</p>
    </div>
    <div>

    </div>

  </div>

</div>
